@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Serif', serif;
    color: #F5F5DC;
    font-weight: 500;
    background: #a3b18a;
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#menu_slide {
    height: 50px;
    width: 50px;
    position: absolute;
    }
#menu_slide span {
    height: 5px;
    width: 70%;
    background-color: black;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s ease;
}
#menu_slide span:nth-child(1) {
    top: 25%;
}
#menu_slide span:nth-child(3) {
    top: 75%;
}

#menu_slide.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
#menu_slide.active span:nth-child(2) {
    opacity: 0;
}
#menu_slide.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


/*Pievinota navigacija*/
.book {
    background: url(bildes/book.jpg) no-repeat;
    border: solid black 2px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    
    margin-left: 5%;
    margin-top: 5%;
    
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(-100vw, 0, 0);
    transition: transform 0.4s ease;

    overflow: hidden;

    height: 200px;
    width: 150px;
}

.book.visible {
    transform: translate3d(0vw, 0, 0);
}

.book_page a {
    text-decoration: none;
    color:inherit;
    text-decoration: underline;
    text-decoration-color: transparent;
    
}

.book_page a:hover {
    color:black;
    text-decoration-color: black;
    transition: text-decoration-color 0.5s;
}

.book_page {
    margin-bottom: 10%;
    margin-right: 8%;
    color: #696969;
    font-weight: 500;
}

#flipbook {
    overflow: visible !important;
}

#flipbook .hard.cover {
    background: linear-gradient(to bottom left, #344E41, #375441);
    color: #F5F5DC;
    font-size: 1.6em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

#flipbook .page.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.1em;
    line-height: 1.6;
    color: #F5F5DC;
    vertical-align: center;
    align-items: center;
}

#flipbook .page.saturs h1 {
    font-size: 3em;
    margin-top: 50px;
    margin-right: 130px;
}

#flipbook .page.saturs ul {
    list-style: none;
    text-align: left;
    font-size: 1.3em;
}

#flipbook .page.saturs li {
    margin-left: 15px;
}

#flipbook .page.saturs li a {
    text-decoration: none;
    color:#f5f5dcd1;
    text-decoration: underline;
    text-decoration-color: transparent;
}

#flipbook .page.saturs li a:hover {
    color:#F5F5DC;
    text-decoration-color: #F5F5DC;
    transition: text-decoration-color 0.5s;
}


#flipbook .page.gramatas_saturs p{
    margin:20px 0px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
}

#flipbook .page.gramatas_saturs h1 {
    margin:20px 0px;
    margin-left: 20px;
    margin-right: 20px;
}


#flipbook .own-size {
    height: 582px;
    width: 460px;
}

.page.info.even {
    background: linear-gradient(to right, #496e4c 95%, #3a5a40 100%);
    border-top-right-radius: 80px 5px;
    border-bottom-right-radius: 80px 5px;
}
.page.info.odd {
    background: linear-gradient(to left, #496e4c 95%, #3a5a40 100%);
    border-top-left-radius: 80px 5px;
    border-bottom-left-radius: 80px 5px;
}

#flipbook .hard.cover.first::after,
#flipbook .hard.cover.back::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    background: #2c3e2f;
}

#flipbook .hard.cover.back::after {
    left: 0; /* Spine on the left side of front cover */
    border-right: 1px solid #263e2e;
}

#flipbook .hard.cover.first::after {
    right: 0; /* Spine on the right side of back cover */
    border-left: 1px solid #263e2e;
}

#flipbook .hard.cover.first,
#flipbook .hard.cover.back {
    background: linear-gradient(to left, #344E41 95%, #455e51 100%);
    background: linear-gradient(to right, #344E41 95%, #303e35 100%);
}

